<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>{{ title ?? "Synthwave Theme" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ theme_url }}/assets/css/style.css">
</head>
<body>
  {{ partial:header }}
  <main>
    {{ content }}
  </main>
  {{ partial:footer }}
  <script src="{{ theme_url }}/assets/js/script.js"></script>
</body>
</html>